<html>

<head>
  <title>Login Page</title>
  <meta charset="utf-8">
 
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-light outerdiv justify-content-between">
        <a class="navbar-brand">Graviton</a>
        <form class="form-inline">
            <h3>VT road <span class="dots"></span></h3>
        </form>
      </nav>
    <div class="wrapper">
		<div class="insiderwrapper">
			<div class="one">  
                <!-- sidenav section -->
                <div class="sidenav">
                         <div class="login-main-text">
                            Logo
                         </div>
                         <p>MADE WITH ♡ IN INDIA <br>KUGELBLITZ TECHNOLOGIES</p>
                      </div>
                       <!-- sidenav section end --></div>
		<div class="two">
             <!-- New user -->
         
          <div class="main">
            <div class="col-md-6 col-sm-12">
               <div class="login-form">
                 <h2 class="text2">Create <br>New User</h2>
                  <form>
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Full Name">
                     </div>
                     <div class="form-group">
                        <input type="password" class="form-control" placeholder="User Name">
                     </div>
                     <div class="form-group">
                       <input type="text" class="form-control" placeholder="Designation">
                    </div>
                    <div class="form-group">
                       <input type="text" class="form-control" placeholder="Phone Number">
                    </div>
                     <div class="form-group">
                       <input type="text" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                       <input type="text" class="form-control" placeholder="Confirm Password">
                    </div>
                    <!-- drop down -->
                    <div class="input-group dropdown-grp">
                        <input type="text" class="form-control dropInput" placeholder="user Access" aria-label="Text input with segmented dropdown button">
                        <div class="input-group-append">
                          <button type="button" class="btn dropdown-toggle dropdown-toggle-split dropbtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <!-- <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                          </div> -->
                        </div>
                      </div>
                         <!-- drop down ends  -->
                     <button type="submit" class="btn btn-primary LoginBtn">Create</button>
                     
                  </form>
               </div>
            </div>
         </div>
           <!-- New User end -->
        </div>
		</div>		
		
	  </div>
  
          
</body>
</html>
