<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

<body>
    <!-- nav bar -->
    <nav class="navbar navbar-light outerdiv justify-content-between">
        <a class="navbar-brand">Graviton</a>
      </nav>
    <!-- bottons -->
    <div class="firstDiv">
        <button type="button" class="btn btn-light">Meta Data</button>
        <button type="button" class="btn btn-light">Summary</button>
        <button type="button" class="btn btn-light">Net Cash Flow</button>
        <button type="button" class="btn btn-light">Default</button>
        <button type="button" class="btn btn-light">Loan</button>
        <button type="button" class="btn btn-light">Recuring</button>
        <button type="button" class="btn btn-light">Top Debits</button>
        <button type="button" class="btn btn-light">Top Credits</button>
        <button type="button" class="btn btn-light">Financial Service</button>
        <button type="button" class="btn btn-light">New File</button>
        <button type="button" class="btn btn-light">⏼</button>
      </div>
<h1 class="firstH">Statement Data</h1>

<!-- input fields -->

<div class="secondDiv">
    <div class="row">
        <div class="column">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">from</h5>
                  <p class="card-text">08-04-2021 April</p>
                </div>
           </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">to</h5>
              <p class="card-text">08-04-2021 April</p>
            </div>
      </div>
    </div>
    <div><h1 class="secH">MR RISHABHEHROTRA</h1></div>
    </div>
</div>
<div class="thirdDiv">
    <div class="third1">
        <form>
            <label for="username">Account Number</label>
            <input id="username" name="username" type="text"/>
          </form>
          <form>
            <label for="username">IFSC Code</label>
            <input id="username" name="username" type="text"/>
          </form>
          <form>
            <label for="username">Pan Number</label>
            <input id="username" name="username" type="text"/>
          </form>
    </div>

    <div class="third2">
        <form>
            <label for="username">Author</label>
            <input id="username" name="username" type="text"/>
          </form>
          <form>
            <label for="username">Creator</label>
            <input id="username" name="username" type="text"/>
          </form>
    </div>
    <div class="third3">
        <form class="last">
            <label for="username">Creation Date</label>
            <input id="username" name="username" type="text"/>
          </form>
          <form class="last">
            <label for="username">Modification Date</label>
            <input id="username" name="username" type="text"/>
          </form>
    </div>
</div>
</body>
