body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.navbar.navbar-inverse.navbar-header.navbar-brand {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar-header {
    text-align: center;
  }
.navbar{
    background: #0072ff;
    text-align: center;
    font-size: 30px;
    color: white;
    height: 50px;
}
.navbar-brand{
    color: white;
    text-align: center;
    font-size: 20px;
}
.card{
    width: 33%;
    height: 35%;
    position: absolute;
    top: 20%;
    left: 30%;
}  
@media screen and (min-height: 450px) {
    .card {width: 400px;
    height: 200px;
    left: 12%;
    }
}
.card-header{
    background:#0072ff;
    color: white;
    font-size: 20px;
    height: 40px;
}
.bank{
    font-size: 15px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    margin-right: 6px;
}
.secondLine{
    margin-top: 20px;
}
.password{
    padding: 0;
    font-size: 15px;
    padding-left: 11px;
    
}
.fa-disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
.inVal{
    width: 95%;
    margin-left: 11px;
}
.buttons{
    margin-top: 40px;
    display: flex;
    font-size: 15px;
}
.btn{
    font-size: 15px;
    height: 30px;
    width: 100px;
}