<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

<body>
    <!-- nav bar -->
    <nav class="navbar navbar-light outerdiv justify-content-between">
        <a class="navbar-brand">Graviton</a>
      </nav>
    <!-- buttons -->
    <div class="firstDiv">
        <button type="button" class="btn btn-light">Meta Data</button>
        <button type="button" class="btn btn-light">Summary</button>
        <button type="button" class="btn btn-light">Net Cash Flow</button>
        <button type="button" class="btn btn-light">Default</button>
        <button type="button" class="btn btn-light">Loan</button>
        <button type="button" class="btn btn-light">Recuring</button>
        <button type="button" class="btn btn-light">Top Debits</button>
        <button type="button" class="btn btn-light">Top Credits</button>
        <button type="button" class="btn btn-light">Financial Service</button>
        <button type="button" class="btn btn-light">New File</button>
        <button type="button" class="btn btn-light">⏼</button>
      </div>
<h1 class="firstH">Checking Summary </h1>

<!-- table section -->
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"> </th>
        <th scope="col">Begining Balance</th>
        <th scope="col">Deposites</th>
        <th scope="col">Checks</th>
        <th scope="col">ATM Withdrawals</th>
        <th scope="col">Electronic Withdrawals</th>
        <th scope="col">Bank Fees</th>
        <th scope="col">Another Withdrawals</th>
        <th scope="col">Ending Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>

      </tr>
      <tr class="altRow">
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr class="altRow" >
        <th scope="row">4</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr class="altRow">
        <th scope="row">6</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>


