
body {
    font-family: 'Montserrat', sans-serif;
}

p{
    color: white;
    font-size: 12px;
    margin-left: 70px;
    margin-top: 100px;
 
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color:#0072ff;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
        margin-left: 15%;
    }

    .register-form{
        margin-top: 20%;
    }
}

.text2{
    color:#0072ff;
    line-height: 1;
    margin-bottom: 30px;
    font-weight: 250;
    font-size: 30px;
}
.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color:#0072ff;
}

.login-main-text h2{
    font-size: 50px;
    font-weight: 300;
    color: white;
}
.btn{
    font-size: 20px;
}
.inVal{
    font-size: 15px;
}
