<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

<body>
    <!-- nav bar -->
    <nav class="navbar navbar-light outerdiv justify-content-between">
      <a class="navbar-brand">THE THREE FINANCE</a>
      </nav>

  <!-- buttons -->
    <div class="firstDiv">
        <button type="button" class="btn btn-light">Meta Data</button>
        <button type="button" class="btn btn-light">Summary</button>
        <button type="button" class="btn btn-light">Net Cash Flow</button>
        <button type="button" class="btn btn-light">Default</button>
        <button type="button" class="btn btn-light">Loan</button>
        <button type="button" class="btn btn-light">Recuring</button>
        <button type="button" class="btn btn-light">Top Debits</button>
        <button type="button" class="btn btn-light">Top Credits</button>
        <button type="button" class="btn btn-light">Financial Service</button>
        <button type="button" class="btn btn-light">New File</button>
        <button type="button" class="btn btn-light">⏼</button>
      </div>
<h1 class="firstH">Net Cash Flow</h1>

<!-- graph -->

<div style="display: block">
    <!-- <canvas mdbChart
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas> -->
  </div>