<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>


<body>
    <!-- nav bar -->
    <nav class="navbar navbar-light outerdiv justify-content-between">
        <a class="navbar-brand">Graviton</a>
        <form class="form-inline">
            <h3>VT road <span class="dots"></span></h3>
        </form>
      </nav>

<!-- <!search bar---->
<div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
</div>
<!-- identity -->
<div class="identity">
  <button type="button" class="btn btn-light">Account Number</button>
  <button type="button" class="btn btn-light">Adhar Number</button>
  <button type="button" class="btn btn-light">Full Name</button>
</div>
<!-- identity end -->
<div class="box">
    <div class="insideBox">New Account</div>
    <div class="insideBox">228 <br>Total Account</div>
    <div class="insideBox2">New leads</div>
    <div class="insideBox2">Total leads</div>
    <div class="insideBox2">Total loan</div>
</div>

<!-- recent -->
<h3 class="tablehead">Recents</h3>
<div class="tables">
<div class="table1">
    <div>Recent Leads</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr class="alt1">
        <th scope="row" >1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr class="alt1">
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row" >3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="table2">
    <div>Recent Accounts</div>
    <table class="table ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr class="alt2">
            <th scope="row" >1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr class="alt2">
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>
</div>
</body>